<div class="item">

  <!-- TAREFA -->
  <div class="tarefa">
    <input 
      [id]="tarefa.descricao" 
      type="checkbox" 
      [checked]="tarefa.statusRealizada"
      (change)="tarefa.statusRealizada = !tarefa.statusRealizada; modificaTarefa.emit(tarefa)" 
    />

    <label 
      [for]="tarefa.descricao"
      [class.done]="tarefa.statusRealizada">
      {{ tarefa.descricao }}
    </label>
  </div>

  <!-- BOTÕES ABAIXO -->
  <div *ngIf="!emEdicao" class="botoes">
    <button class="btn editar" (click)="emEdicao = true">Editar</button>
    <button class="btn remover" (click)="remover.emit(tarefa)">Remover</button>
  </div>

  <!-- EDIÇÃO -->
  <div *ngIf="emEdicao" class="editar-box">
    <input 
      class="sm-text-input" 
      #editedItem 
      [value]="tarefa.descricao"
    >

    <div class="botoes">
      <button class="btn cancelar" (click)="emEdicao = false">Cancelar</button>

      <button 
        class="btn salvar" 
        (click)="tarefa.descricao = editedItem.value; emEdicao = false; modificaTarefa.emit(tarefa)">
        Salvar
      </button>
    </div>
  </div>

</div>