body {
    color: #4d4d4d;
    background-color: #f5f5f5;
    color: #4d4d4d;
}

.main {
    max-width: 500px;
    width: 85%;
    margin: 2rem auto;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 2.5rem 5rem 0 rgba(0, 0, 0, .1);
}

@media screen and (min-width: 600px) {
    .main {
        width: 70%;
    }
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem;
}

.lg-text-input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #000;
    display: block;
    box-sizing: border-box;
    font-size: 1rem;
}

.btn-wrapper {
    margin-bottom: 2rem;
}

.btn-menu {
    flex-basis: 32%;
}

.active {
    color: green;
}

ul {
    padding-inline-start: 0;
}

ul li {
    list-style: none;
}

/* BLOCO DO ITEM */
.item {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-align: center;
}

/* TAREFA EM CIMA */
.tarefa {
  margin-bottom: 10px;
}

/* TEXTO RIScado */
.done {
  text-decoration: line-through;
  color: gray;
}

/* BOTÕES EMBAIXO */
.botoes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* BOTÕES */
.btn {
  padding: 8px 18px;
  border-radius: 20px; /* 🔥 borda curva */
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

/* CORES */
.editar {
  background: #e0e0e0;
}

.remover {
  background: #ff4d4d;
  color: white;
}

.salvar {
  background: #4CAF50;
  color: white;
}

.cancelar {
  background: #999;
  color: white;
}

.btn:hover {
  transform: scale(1.08);
  opacity: 0.9;
}