<div class="main">
  <h1>Guilherme 252862 - Otavio 253525</h1>

  <input class="lg-text-input" #campoNovoItem />

  <button class="btn-primary" (click)="CREATE_tarefa(campoNovoItem.value)">
    Adicionar Tarefa
  </button>

  <!-- 👇 MENSAGEM QUANDO NÃO TEM TAREFAS -->
  <div *ngIf="arrayDeTarefas().length === 0">
    Nenhuma tarefa ainda. Adicione uma!
  </div>

  <!-- 👇 LISTA DE TAREFAS -->
  <ul *ngIf="arrayDeTarefas().length > 0">
    <li *ngFor="let tarefaDoLoop of arrayDeTarefas()">
      <app-item 
        [tarefa]="tarefaDoLoop" 
        (remover)="DELETE_tarefa($event)" 
        (modificaTarefa)="UPDATE_tarefa($event)">
      </app-item>
    </li>
  </ul>
</div>